@import 'variables';

.slider{
  position: relative;
  left: 100rem;
  transition: left 3s;

  &.slide{ left: 0; }
}

.intro, .feedback_callout {
  padding: 2rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 2rem;
  font-family: 'Crete Round', serif;

  h2{ font-size: 3.1rem; }
}

.feedback_callout{
  background: #ABD5F0;
  color: white;
}
