.devise{
  .field{
    margin: .8rem 0;
  }

  input[type='submit']{
    width: 100%;
    padding: .6rem;
    font-size: 2rem;
  }

  img.oauth{
    max-width: 15rem;
    margin: 1rem auto;
  }

  a{
    margin: .5rem auto;
    font-size: 1.6rem;
    color: #94C3E0;

    &:hover{
      color: black;
    }
  }
}
