@import 'variables';

.feedback_form{
  font-size: 1.8rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;

  #error_explanation{
    color: red;
  }

  input, textarea{
    margin: 10px 0px;
    font-size: 1.8rem;
    border: none;
    background: $background-color;
    display: block;

    &[type="text"]{
      margin-bottom: 15px;
      border-bottom: 2px solid $primary-blue;

      &:focus{ outline: none; }
    }

    &[type="submit"]{
      background: #1a9be5;
      color: #fff;
      padding: 5px 20px;
      cursor: pointer;
    }
  }

  .receiver_handle{
    text-transform: capitalize;
  }

  .name{
    display: flex;

    input{
      width: 48%;
      margin-right: 2%;
    }
  }
	

  .trait_response {
    display: none;
		margin-top: .2rem;
		border: solid 2px $primary-blue;
		border-radius: 4px;
		width: 100%;
	}

  textarea.message{
    width: 100%;
    min-height: 12rem;
    border: solid 3px $primary-blue;
    border-radius: 4px;
  }

  .question{
    margin-top: 1.5rem;

    p{
      font-size: 2rem;
      margin: 0;
    }

    .response{
      margin-top: .2rem;
      border: solid 3px $primary-blue;
      border-radius: 4px;
      width: 100%;
    }
  }
}
