@import 'variables';

.feedback_form{
  font-size: 1.8rem;
  width: 100%;
  margin: 0 auto;

  input, textarea{
    font-size: 1.8rem;
    border: none;
    background: $background-color;
    display: block;

    &[type="text"]{
      margin-bottom: 15px;
      border-bottom: 2px solid #1A9BE5;

      &:focus{ outline: none; }
    }

  }

  .receiver_handle{
    text-transform: capitalize;
  }

  .name{
    display: flex;

    input{
      width: 48%;
      margin-right: 2%;
    }
  }

  textarea.message{
    width: 100%;
    min-height: 12rem;
    border: solid 3px #1A9BE5;
    border-radius: 4px;
  }
}
