.container
  .statement We got ya, and we'll be reaching out shortly.  In the meantime, think of the area of life you want to have the most power in.  What it would be like if you were effective with people in THAT context.
  .statement Cheers!
