h1 Welcome to WakePattern
p You've arrived here because you've recieved some feedback.  Please signup to verify your email address, and we'll show you what someone has left for you.

= link_to "Sign Up", new_user_registration_path
