
.card {
	width: 80%;
	margin: auto;
	margin-bottom: 1em;
	text-align: center;

	.card-title {
		font-size: 2rem;
	
	}

	.card-body {
	
		.card-p {
			font-size: 1.2rem;
			
			.head {
				font-size: 3rem;	
				margin: auto;
			}
		
		}
	}
}
