
$background-star-color: #c3c3c3;
$primary-font: 'assistant', 'aauxprolight', sans-serif;
$secondary-font: 'Helvetica';

$secondary-color: rgba(200, 0, 100, 0.4);
$primary-color: #00ffff;
$bg-header-color: #CCD;

html {
	font-size: 100%;
	font-family: $primary-font;
}
	
.error-box {
	position: fixed;
	width: 100%;
	z-index: 101;
	background-color: crimson;
	color: #FFF;
	padding: auto;
	text-align: center;
}

.error-text {
	margin: auto;
	padding: .2rem;
}


.wrap {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

.wrap-2 {
	display: flex;
	flex-flow: col;
	justify-content: space-between;
	align-items: center;
	border: 2px solid orange;
}


.bottom {
	min-height: 600px;
	border: 5px solid purple;
}

	
.fb-comp{
	margin: .4em auto;	
}

.form-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;	
	
	.form-head-e {
		&.spacer {
			flex: 1 0 20%;		
		}
		
		&.title {
			flex: 2 0 40%;	
		}

		&.close-out {
			flex: 1 0 20%;	
		}
	}
}	

.fb-to-names { 
	input {
		border-radius: 3px;
		border-style: ridge;
		margin: 0 .3rem;
	}
}
	 
.fb-email{
		
	&input {
		border-radius: 3px;
		border-style: ridge;
		width: rem;
	}
}

.fb-form {
	flex: 2 0 40%;
	margin: 1em auto;
	padding: 1em;
	background: rgb(255, 240, 240);
	width: 400px;
	border: black solid 1px;
	border-radius: 6px;
	text-align: center;
	z-index: 101;
}

.being-box {
	margin: auto;
	min-height: 2em;

	.being-square{
		display: inline-block;
		margin: .2em .2em;
		border: 1px solid black;
		border-radius: 5px;
		background: $secondary-color;
		text-align: center;
		padding: .3em;
		font-family: $secondary-font;
		font-size: .8em;

		&:hover {
			background-color: red;	
			color: white;
		}
	}
}		

#message {
	padding: .5em;	
	width: 98%;
	max-height: 6em;
}

#button-signin {
	font-size: 1.5em;
	clear: both;	
	width: 100px; 
}

#button-submit {
	font-size: 2em;
	min-width: 100px;
}

.fb-ratings{
	padding: .5em 1em;
	text-align: left;			
	padding: auto;
	
	.rating-inner-box {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		.fb-star-ratings-1,	.fb-star-ratings-2{ 
			margin: .3em auto;
			display: inline-block;
			width: 8rem;
			max-height: 1.5em;
		}
	}
}

	
.hide {
	display: none;
}

.show {
	display: unset;	
}


.stars {
  cursor: pointer;
  
	&:hover {
    .star polygon {
      fill: #ffd055 !important;
    }
  }
  

	.star {
    float: left;

    polygon {
      fill: $background-star-color
    }

    &:hover ~ .star {
      polygon {
        fill: $background-star-color !important;
      }
    }
  }
  
  &[data-stars] {
    .star polygon {
      fill: $primary-color;
    }
  }
  
  &[data-stars="1"] {
    .star:nth-child(1) ~ .star polygon {
      fill: $background-star-color;
    }
  }
  
  &[data-stars="2"] {
    .star:nth-child(2) ~ .star polygon {
      fill: $background-star-color;
    }
  }
  
  &[data-stars="3"] {
    .star:nth-child(3) ~ .star polygon {
      fill: $background-star-color;
    }
  }
  
  &[data-stars="4"] {
    .star:nth-child(4) ~ .star polygon {
      fill: $background-star-color;
    }
  }
  
  &[data-stars="5"] {
    .star:nth-child(5) ~ .star polygon {
      fill: $background-star-color;
    }
  }
}

#message {
	width: 90%;
	height: 5rem;
}


.no-overlay{
	text-align: center;
	padding: 1rem;
	width: 30%;
	height: 100%;
	position: relative; 
	z-index: 3;
	top: -.1rem;
	border: 3px solid $primary-color;
}

#circle {
	border-radius: 100%;
	padding: .6rem;
	width: 15px;
	height: 18px;
	float: right;

	&:hover {
		background: rgba(0, 0, 0, 0.3);
	}
}



