@import 'variables';

$blk-width: 30%;

ul.container {
	list-style-type: none;

	.group-1, .group-2, .group-3 {
		margin-left: 2rem;	

		:not(.stars) {
			margin: 0;	
		}
	}
	
	li.traits {
		.fb-rating-row {
			width: 100%;
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;

			.left {
				font-size: 1rem;
				max-width: 50%;
			}

			.right {
				max-width: 50%;
			}
		}
	}	
}

.stars {
  cursor: pointer;
  
	&:hover {
    .star polygon {
      fill: #ffd055 !important;
    }
  }
  
	.star {
    float: left;

    polygon {
      fill: #d8d8d8;
    }

    &:hover ~ .star {
      polygon {
        fill: #d8d8d8 !important;
      }
    }
  }
  
  &[data-stars] {
    .star polygon {
      fill: #ffd055;
    }
  }
  
  &[data-stars="1"] {
    .star:nth-child(1) ~ .star polygon {
      fill: #d8d8d8;
    }
  }
  
  &[data-stars="2"] {
    .star:nth-child(2) ~ .star polygon {
      fill: #d8d8d8;
    }
  }
  
  &[data-stars="3"] {
    .star:nth-child(3) ~ .star polygon {
      fill: #d8d8d8;
    }
  }
  
  &[data-stars="4"] {
    .star:nth-child(4) ~ .star polygon {
      fill: #d8d8d8;
    }
  }
  
  &[data-stars="5"] {
    .star:nth-child(5) ~ .star polygon {
      fill: #d8d8d8;
    }
  }
}
