
$primary-font: 'assistant', 'aauxprolight', sans-serif;
$secondary-font: 'Helvetica';

$secondary-color: rgba(200, 0, 100, 0.4);
$primary-color: #00ffff;
$bg-header-color: #CCD;

$background-star-color: #c3c3c3;

